[submodule "HRngBackend"]
	path = HRngBackend
	url = https://github.com/itsmevjnk/HRngBackend.git
[submodule "HRngSelenium"]
	path = HRngSelenium
	url = https://github.com/itsmevjnk/HRngSelenium.git
[submodule "HRngLite"]
	path = HRngLite
	url = https://github.com/itsmevjnk/HRngLite.git
